.about[data-v-705d1930]{padding:100px 0}.about-content[data-v-705d1930]{max-width:800px;margin:0 auto;text-align:center;padding:20px}.about-content p[data-v-705d1930]{font-size:18px;color:#666;margin-bottom:30px;line-height:1.8}
